#banner_title, h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200%;
}

body {
    background-color: rgb(255, 238, 219);
    margin: 0;
    padding: 0;
}


#banner_box {
    position: relative;
    text-align: center;
  }

#bar_color {
      /*title bar color and reach*/
      margin-top: 0;
      background-color: #ff6700;
      height:10px;
      width: 149.9%;
      margin-left: -50%;
  }

#banner_title {
    /*page title in the banner*/
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    /*image behind the title in the banner*/
    width: 100%;
    overflow: hidden;
}

.banner img{
    /*image behind the title in the banner*/
    /*image should be 1500 x 90 pixels for the banner*/
    width: 100%;
    display: block;
}

#quote_box {
    margin-top: 1%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#quote_phrase { 
    /*the career uote of people in the page's field*/
    color: #2a324b;
    font-size: 400%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

#quote_originator {
    /*the originator of the career quote*/
    color: black;
    font-size: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: 20%;
}

#career_info {
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
}

#career_info, p1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
}

#career_info_tbl {
    margin-top: 1%;
    margin-right: auto;
    margin-left: auto;
}

.square {
    height: 15rem;
    width: 15rem;
    background-color: #63adf2;
    border-radius: 5%;
    border: #2a324b;
    border-style: solid;
    border-width: .5rem;
}

.career_title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#2a324b;
    text-decoration: underline;
}

.career_para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.navbar {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2a324b;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #63adf2;
  }
  
  li a.active {
    color: white;
    background-color: #ff6700;
  }